div#root > div.footer {
    background: var(--header-footer-bg);
    position: relative;
    height: 100%;
    width: 100%;
    bottom: 0vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
  
div#root > div.footer > div.footer-flex-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

div#root > div.footer > div.footer-flex-box > div.google-map > h3 {
    text-align: center;
    padding: 15px;
}

div#root > div.footer > div.footer-flex-box > div.footer-flexbox2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

div#root > div.footer > div.footer-flex-box > div.footer-flexbox2 > div.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
}

div#root > div.footer >div.footer-flex-box > div.footer-flexbox2 > div.social-media > a > button {
  width: 200px;
  height:50px;
  border-radius: 5px;
  background: #023e8a;
  color: #f8f7ff;
  border:none;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 24px 0 rgba(0, 0, 0, 0.19);}

div#root > div.footer > div.footer-flex-box > div.footer-flexbox2 > div.social-media> a > button:hover {
  color: #023e8a;
  background: #f8f7ff;
  transition: 0.5;
}

div#root > div.footer > div.footer-flex-box > div.footer-flexbox2 > div.contact-info > h3 {
  /* text-align: center; */
  margin-bottom: 5px;
}


div#root > div.footer > p {
  text-align: center;
  padding-top: 25px;
}

@media only screen and (max-width: 990px) {
  div#root > div.footer > div.footer-flex-box {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  };

  div#root > div.footer > div.footer-flex-box > div.footer-flexbox2 {
    margin-top: 20px;
  };
}