div#root > div.page-container > div.menu {
    padding: 0px;
    width: 100%;
    /* height: 1300px; */
    height: 100%;
    background: var(--page-bg-color);
    border: 5px solid var(--border-color);
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    color: var(--text-color);
    display: block
    
    /* flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around; */
}

div#root > div.page-container > div.menu > ul {
    list-style-type: none;
    display: block;
    /* display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;  */
    margin-top: 20px;
}

div#root > div.page-container > div.menu > ul  > h3 {
    text-align: center;
    border: 1px solid yellow;
    padding:5px;
    border-radius: 10px;
    background-color: var(--nav-buttons-bg);
    color: white;
    margin-bottom: 10px;
    width:300px; 
    margin-left: auto;
    margin-right: auto;
}

div#root > div.page-container > div.menu > ul > li {
    margin: 5px; 
    text-align: center;
}

div#root > div.page-container > div.menu > ul.mpagketes {
    display: block;
}

div#root > div.page-container > div.menu > ul.mpagketes > li > h5 {
    color: red;
    font-family:'Gill Sans'
    , 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 20px;
}

div#root > div.page-container > div.menu > ul > li.extra {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    color: yellow;
    margin-top: 10px;
}